import styles from './{{kebabCase name}}.module.scss';

interface {{pascalCase name}}Props {
}

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
	return (
		<div className={styles.root}>
			{{pascalCase name}}
		</div>
	);
};

export default {{pascalCase name}};
